<div class="page page--top">
    <header>{{>back-button}}</header>

    <h1 class="page__title">Список користувачів</h1>
    <hr class="page__divider">

    <div action="" class="page__section" id="user-list">

        {{!-- <a href="#" class="user user--click">
            <span class="user__title">admin@admin.com</span>
            <span class="user__sub">Адміністратор</span>
        </a>

        <span class="alert alert--success">Увага помилка</span> --}}
    </div>
</div>