{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main>
    Home page

    <div class="link__prefix"><a href="/user-list" class="link">Список користувачів</a></div>

    <div class="link__prefix"><a href="/logout" class="link">Вийти</a></div>


</main>

{{!
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    }}